.box-header {
  grid-column: 1/3;
  grid-row: 2/3;
  width: 100%;
  height: 100%;
  &__carrusel {
    display: flex;
    overflow-y: auto;
    gap: 5px;
    height: 100%;
  }

  &__img {
    width: 360px;
    height: 360px;
  }
}

@media (max-width: 768px) {
  .box-header {
    grid-column: 1/2;
    grid-row: 2/3;
    &__carrusel {
      display: flex;
      overflow-y: auto;
      gap: 5px;
      height: 100%;
    }
    &__img {
      width: 240px;
      height: 240px;
    }
  }
}
