@import "./carrusel";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.box-conteiner {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 10% 40% 30% 20%;
  background: rgb(206, 144, 144);
  background: linear-gradient(
    90deg,
    rgba(206, 144, 144, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  height: 100vh;
}

@media (max-width: 768px) {
  .box-conteiner {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 7% 30% 43% 20%;
    grid-row-gap: 2px;
    // grid-template-columns: 1fr;
    // grid-template-rows: repeat(5, 1fr);
    height: 100vh;
  }
  .box-nav {
    grid-column: 1/2;
    grid-row: 1/2;
  }
}
